@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: #020024;
  background: linear-gradient(
    240deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 0, 42, 1) 72%,
    rgba(28, 28, 28, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
}

.about-page {
  width: 100%;
  max-width: 800px;
  background-color: #f8f6ff;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  line-height: 1.7;
  font-size: 18px;
  color: #333;
  margin: 0 auto;
  cursor: pointer;
  animation: fadeIn 0.6s ease-out;
}

.about-page h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #222;
}

.about-page p {
  white-space: pre-line;
  margin-bottom: 25px;
  text-align: start;
  line-height: 1.6;
  font-size: 1.3rem;
  font-family: "Fira Sans", sans-serif;
}

.about-us-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 22px;
  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 600;
  background: #020024;
  background: linear-gradient(
    240deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 0, 42, 1) 72%,
    rgba(28, 28, 28, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  font-family: "Fira Sans", sans-serif;
}

.about-us-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
