/* CSS FOR BANNER */

.banner-box {
  height: 35vh;
  width: 100%;
  margin-top: 5px;
  background-color: rgb(0, 0, 0);
  background-image: url("../images/img1.jpg");
  background-size: contain;
  animation: banner-animate 10s ease-in-out 2s infinite;
  cursor: pointer;
}

@keyframes banner-animate {
  0% {
    background-image: url("../images/img2.jpg");
  }
  25% {
    background-image: url("../images/img3.jpg");
  }
  50% {
    background-image: url("../images/img4.jpg");
  }
  75% {
    background-image: url("../images/img5.jpg");
  }
  100% {
    background-image: url("../images/img1.jpg");
  }
}
