/* CSS for flash message */

/* Flash Message Wrapper */
.custom-flash {
  width: 40%;
  margin: 20px auto;
  border-radius: 14px;
  padding: 15px 20px 10px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  backdrop-filter: blur(10px);
  animation: popIn 0.3s ease-out;
}

/* Success (green glow) */
.custom-flash.success {
  background: rgba(4, 255, 0, 0.714);
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: #000000;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 12px rgba(0, 255, 119, 0.61);
}

/* Error (red glow) */
.custom-flash.error {
  background: rgba(255, 0, 0, 0.807);
  border: 2px solid rgba(0, 0, 0, 0.6);
  color: #000000;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.632);
}

/* Button styling override for bootstrap close button */
.custom-flash .btn-close {
  filter: brightness(0);
  opacity: 1;
}

.custom-flash .btn-close:hover {
  opacity: 1;
}

/* Animation */
@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
