/* Style for Add New Form  */

.add-rest-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #ffd700;
  letter-spacing: 1px;
  text-shadow: 0 0 8px rgba(255, 215, 0, 0.5);
  font-family: "Poppins", sans-serif;
}

.add-rest-form-section {
  min-height: 100vh;
  display: flex;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.add-rest-card {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 40px 50px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  color: white;
}

.add-rest-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-rest-card label {
  font-weight: 500;
  color: #f1f1f1;
  display: block;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif !important;
}

.add-rest-card input {
  width: 100%;
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  outline: none;
  transition: all 0.3s ease;
}

.add-rest-card input::placeholder {
  color: #dcdcdc;
}

.add-rest-card textarea::placeholder {
  color: #dcdcdc;
}

.add-rest-card input:focus {
  box-shadow: 0 0 8px #ffd700;
  background: rgba(255, 255, 255, 0.25);
}

.add-rest-card button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgb(251, 251, 251) 0%,
    rgba(255, 0, 0, 1) 35%,
    rgba(230, 255, 0, 1) 100%
  );
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif !important;
}

.add-rest-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #f2ff00;
}

.add-rest-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.1);
  padding: 30px;
  transition: all 0.4s ease;
}

/* Glow effect on hover */
.add-rest-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.921), 0 0 40px rgba(128, 0, 0, 0.4);
}

.add-rest-card textarea {
  width: 100%;
  height: 120px; /* adjust if needed */
  resize: none; /* prevents resizing by user */
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
}
